* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
    width: 100%;
    margin: auto;
}
#messages {
    overflow-y: scroll;
    height: 400px;
		width: auto;
}
#messages li {
    font-size: 16px;
}
#messages li:nth-child(odd) {
    /*text-align:right;*/
}
.msg_name {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline;
}
.msg_text {
    margin-top: 0px;
    padding-top: 0px;
    display: inline;
}
img.emoji {
    margin: 0px !important;
    display: inline !important;
}
